@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@layer base {
  @font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

* {
  font-family: "Pretendard-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GmarketSansMedium";
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* common */
.common-title {
  @apply text-2xl font-bold text-gray-800;
}
.common-btn {
  font-family: "GmarketSansMedium";
  @apply block rounded-md py-[14px] text-sm;
}
.common-btn.type-a {
  @apply bg-primary-500 text-white;
}
.common-btn.type-b {
  @apply border border-primary-500 text-primary-500;
}

.swiper-pagination-bullet {
  background-color: #ccc !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff7600 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #222222 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ff7600 !important;
}

.swiper-slide {
  background-color: #f9f9f9 !important;
}

.common-select {
  @apply appearance-none rounded border border-base-400 px-3 py-2 pr-9 text-base-800 focus:outline-none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/images/arrow-icon.svg") no-repeat calc(100% - 12px) center;
}
.common-select::-ms-expand {
  @apply hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
